@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #e4eaf2;
  font-family: "Poppins", sans-serif;
}
